body {
    --bg-light: hsl(from var(--neosoft-blue) h s calc(l + 40));
    --bg-padding: 1.5rem;

    --neosoft-blue: hsl(220deg, 100%, 50%); /*#05f*/
    --neosoft-dark-blue: hsl(222deg, 86%, 14%); /*#051742*/
    --neosoft-text-on-blue: white;

    --warning-color: hsl(0deg, 100%, 48%);

    letter-spacing: 0.1rem;

    .bg-light {
        background-color: var(--bg-light);
        padding: var(--bg-padding);
    }

    ul.bg-light {
        padding-left: calc(3 * var(--bg-padding));
    }

    code {
        background-color: var(--bg-light);
    }

    .hero {
        color: var(--neosoft-blue);
        font-family: Montserrat, system-ui, os-bold, sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 2rem;
        text-align: center;
    }

    /* Cancel the hero style */
    .anti-hero {
        color: var(--neosoft-dark-blue);
        font-family: Montserrat, system-ui, os-regular, sans-serif;
        font-weight: 450;
    }

    .list-checkmark {
        ul {
            list-style: none;
        }

        li::before {
            content: "✔";
            color: var(--neosoft-blue);
            margin-right: 1rem;
        }
    }

    .neosoft-blue {
        color: var(--neosoft-blue);
    }

    .neosoft-dark-blue {
        color: var(--neosoft-dark-blue);
    }

    .slide:has(.transition) {
        padding-inline: 1rem;
    }

    .transition {
        color: var(--neosoft-blue);
        font-family: Chillax-Medium, Montserrat, system-ui, os-bold, sans-serif;
    }

    .warning {
        color: var(--warning-color);
    }

    strong,
    .strong {
        color: var(--neosoft-blue);
    }

    .couv {
        align-items: center;
        color: var(--neosoft-dark-blue);
        display: flex;
        flex-direction:  column;
        font-family: Chillax-Regular, Montserrat, system-ui, os-regular, sans-serif;
        justify-content:  center;

        h1 {
            margin-bottom: 0.1em;
            font-family: Chillax-Bold, 'os-bold', sans-serif;
            font-size: 5rem;
        }

        p:not(.small) {
            font-size: 2.5rem;
        }

        .logo {
            display: inline-block;
            margin-top: 5rem;
            /*transition: all;*/
        }
    }
}