/*
TODO:
- Font-sizes defined by Access42 are expressed in 'vh', which might not be the best thing...
*/
body {
    --neosoft-blue: #05f;
    --neosoft-dark-blue: #051742;
    --neosoft-text-on-blue: white;

    letter-spacing: 0.1rem;

    b {
        color: var(--neosoft-blue);
    }

    cite {
        display: block;
        margin-top: calc(var(--spacer-size) / 2);
    }

    .couv {
        align-items: center;
        color: var(--neosoft-dark-blue);
        display: flex;
        flex-direction:  column;
        justify-content:  center;

        h1 {
            margin-bottom: 0.1em;
            font-family: 'os-bold', serif;
            font-size: 4rem;
            font-weight: bolder;
        }

        .logo {
            display: block;
            margin-top: 5rem;
        }
    }

    .fork-me {
        img {
            margin: 0 0.5rem 0 0;
        }
    }

    #accessibility-what-3 {
        .columns-2 {
            div {
                display: flex;
                flex-direction: column;
            }
        }

        img {
            display: block;
        }

        a {
            text-align: center;
        }
    }

    #accessibility-who {
        img {
            margin: 0;
        }
    }

    #accessibility-who-2 {
        a {
            display: block;
        }
    }
}