body {
    --spacer-size: 2em;

    .center {
        justify-self: center;
        display: flex;
    }

    .columns-2 {
        display: grid;
        gap: 1rem;
        grid-template-columns:  repeat(2, 1fr);
    }

    .extra-small {
        font-size: 60%;
    }

    .hero {
        text-align: center;
        font-family: 'os-bold', serif;
        font-size: 120%;
    }

    .icon-text {
        align-items: center;
        display: flex;
    }

    .spacer-left {
        margin-left: var(--spacer-size);
    }

    .spacer-top {
        margin-top: var(--spacer-size);
    }

    .spacer-top-small {
        margin-top: calc(var(--spacer-size) / 2);
    }
}