body {
    --bg-light: hsl(from var(--neosoft-blue) h s calc(l + 40));
    --spacer-size: 2em;

    .bg-light {
        --padding: 1.5rem;

        background-color: var(--bg-light);
        padding: var(--padding);
    }

    ul.bg-light {
        padding-left: calc(3 * var(--padding));
    }

    .center {
        justify-self: center;
        display: flex;
    }

    .columns-2 {
        align-items: center;
        display: grid;
        gap: 2rem;
        grid-template-columns:  repeat(2, 1fr);
    }

    .columns-3 {
        align-items: center;
        display: grid;
        gap: 2rem;
        grid-template-columns:  1fr auto 1fr;
    }

    .extra-small {
        font-size: 60%;
    }

    .hero {
        color: var(--neosoft-blue);
        font-family: 'os-bold', serif;
        font-size: 2.25rem;
        margin-top: 2rem;
        text-align: center;
    }

    /* Cancel the hero style */
    .anti-hero {
        color: var(--neosoft-dark-blue);
        font-family: 'system-ui', 'os-regular', serif;
    }

    .icon-text {
        align-items: center;
        display: flex;
    }

    .spacer-left {
        margin-left: var(--spacer-size);
    }

    .spacer-top {
        margin-top: var(--spacer-size);
    }

    .spacer-top-small {
        margin-top: calc(var(--spacer-size) / 2);
    }

    .zoom-on-hover {
        transition: all 0.2s;

        &:hover,
        &:focus {
            font-size: 120%;
            font-weight: bold;
        }

        &:hover,
        &:focus {
            img {
                scale: 120%;
                transition: all 0.2s;
            }
        }
    }
}